img.bg {
    /* Set rules to fill background */
    min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
	z-index:-1;
}
@media screen and (max-width: 1024px) {
	 img.bg {
		 left: 50%;
		 margin-left: -512px; }
 }
img.logo {
	border:0;
	position:fixed; 
	top:50%; margin-top:-176px; 
	left:50%; margin-left:-204px;
}

body { margin: 0; font-size: 13px; line-height: 1.231; }

.intro{
	width:1000px;
	height:900px;
	text-align:center;
	-background:url(../img/home.jpg);
	-background-repeat:no-repeat;
	-background-attachment:fixed;
	-background-position:center; 
}
span{
	-position:absolute;
	-color:black;
	-font-size:2em;
	-top:79%;
	background:white;
	width:100%;
	-text-transform:uppercase;	
}
#portf{
	1left:35%;
}
#blog{
	1right:34%;
}

body { font-family: "HelveticaNeue","Helvetica-Neue", "Helvetica", "Arial", sans-serif; }
h1, a { font-size: 2em; color: #06f; }
h1 { text-align: center; display:block; margin-top: 10px;  font-size: 3em; color: #06f; }
p { font-size: 1.3em; }
