html {
	background: url(../img/home.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body { margin: 0; font-size: 13px; line-height: 1.231; }

.intro{
	width:1000px;
	height:900px;
	text-align:center;
	-background:url(../img/home.jpg);
	-background-repeat:no-repeat;
	-background-attachment:fixed;
	-background-position:center; 
}
span{
	-position:absolute;
	-color:black;
	-font-size:2em;
	-top:79%;
	background:white;
	width:100%;
	-text-transform:uppercase;	
}
#portf{
	1left:35%;
}
#blog{
	1right:34%;
}