/* CSS for jQuery Orbit Plugin 1.2.3
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 
 
 
/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
#featured { 
	width: 920px;
	height: 780px ;
	background: url('orbit/loading.gif') no-repeat center center;
	overflow: hidden; 
	z-index: 999;}
#featured>img,  
#featured>div,
#featured>a { display: none; }




/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    background-color: black;
    width: 1px;
    height: 1px;
    position: relative; }

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }

div.orbit>img {
    position: absolute;
    top: -10px;
    left: 0;
    display: none; }

div.orbit>a {
    border: none;
    position: absolute;
    top: -10px;
    left: 0;
    line-height: 0; 
    display: none; }

.orbit>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 920px;
    height: 780px; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    top: -460px;
    right: -680px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(orbit/rotator-black.png) no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url(orbit/timer-black.png) repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(orbit/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url(orbit/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption header{
	color:rgba(255,255,255,.2);
	width:600px;
	position:absolute;
	top:-42px;
	left:-730px;
	font-size:3em;
	font-weight:bold;
	text-transform:uppercase;
	text-align:left;
	z-index:20000;
	text-shadow: -2px -2px rgba(0,0,0,.2);
}

.orbit-caption p{
	margin:0px !important;
	padding:0px !important;
}

.orbit-caption {
    display: none; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.9);
    z-index: 10;
    color: #fff;
	text-align: center;
	padding: 0px;
    font-size: 13px;
    position: relative;
    left: 725px;
    top: -520px;
    width: 170px;
    height:480px;
    1overflow:scroll;
    1overflow-x:visible; }


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
    display: none; }

div.slider-nav span {
    width: 68px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: 270px;
    cursor: pointer; }

div.slider-nav span.right {
    right: -60px;
    background: url(orbit/right-arrow.png); }

div.slider-nav span.left {
    background: url(orbit/left-arrow.png);
    left: -60px; }

/* BULLET NAV
   ================================================== */

.orbit-bullets {
    position: absolute;
    z-index: 1000;
    list-style: none;
    padding: 0; }

.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(orbit/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }
    
.orbit-bullets li.has-thumb {
    left: 0px;
    top: -858px;
    position: relative;
    background: none;
    width: 200px;
    height: 60px;
    opacity: 0.3; 
    border-radius: 5px;}

.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    opacity: 0.5;  }